@model ProductApp.Models.Employee

@{
    ViewData["Title"] = "DeleteEmployee";
}

<h1>DeleteEmployee</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    
    
    <form asp-action="DeleteEmployee">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="EmployeeId" class="control-label"></label>
            <input asp-for="EmployeeId" class="form-control" />
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
